.btnClass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}