.divInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.labelClass {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.inputClassSelect {
  width: 100%;
}

/* Estilos específicos para o Select do Ant Design */
.inputClassSelect .ant-select-selector {
  border: none;
  border-radius: 10px;
}


.inputClass .ant-select-arrow {
  color: #fff;
}
