.cardContainerDash{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.divCardDash{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    padding: 20px;
    background-color: #ffff;

}